body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

p {
  margin-top: 0px;
}

input[type="button"] {
  cursor: pointer;
}

.main {
  margin: 10px;
}

.box {
  border: 2px solid gray;
  border-radius: 15px;
  padding: 10px;
  margin: 5px 10px 5px 0px;
}

.bold {
  font-weight: bold;
  overflow: auto;
}

.user {
  float: left;
  width: 60%;
}

.questions {
  float: left;
  width: 60%;
}

.ranking {
  float: left;
  width: 30%;
}

.activities {
  float: left;
  width: 92.2%;
}

.tab_50 {
  width: 50px;
  display: inline-block;
}

.tab_100 {
  width: 100px;
  display: inline-block;
}

.tab_200 {
  width: 200px;
  display: inline-block;
}

.selected {
  background-color: yellow;
}

.number {
  text-align: right;
}

.question {
  font-weight: bold;
  font-style: italic;
}

.red {
  color: red;
}

.green {
  color: green;
}

.answer {
    cursor: pointer;
    padding: 5px;
    color: #fa9900;
}

.answer:hover
{
    background-color:yellow;
}